.FoodList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
}

a {

}

a:hover {
    text-decoration: none;
}

.FoodDetail {
    height: 400px;
    width: 250px;
    margin: 10px 10px 10px 10px;
    opacity: 1;
    box-shadow: 1px 1px 5px 1px black;
    transition: box-shadow 0.5s, opacity 0.5s;
    position: relative;
}

.FoodDetail:hover {
    opacity: 0.8;
    box-shadow: 1px 1px 5px 1px red;
}

.FoodDetail_img {
    width: 250px;
}

.FoodDetail_title {
    color: red;
    text-transform: capitalize;
    padding: 5px;
    height: 60px;
}

.FoodDetail_tooltip {
    position: relative;
    display: inline-block;
}

.FoodDetail_tooltip .FoodDetail_tooltiptext {
    visibility: hidden;
    width: 150px;
    color: black;
    background-color: lightgrey;
    font-size: 10px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.FoodDetail_tooltip:hover .FoodDetail_tooltiptext {
    visibility: visible;
}

.FoodDetail_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px;
}

.FoodDetail table {
    color: black;
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    width: 100%;
    gigitmax-width: 230px;
    margin: 0 auto;
}

.FoodDetail table tr {
    border-bottom: dotted black 1px;
}

.FoodDetail table td {
    font-size: 10px;
}