.SearchBar_form {
    width: 100%;
    max-width: 225px;
    margin: 10px auto;
}

.SearchBar_form .search-input {
    margin: 10px auto;
    width: 100%;
    max-width: 300px;

}

.SearchBar_form .nutrient-filter {
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.SearchBar_form .form-group {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px;
    margin: 5px;
}

.SearchBar_form label {
    margin: 0;
}

.SearchBar_form input {
    border-radius: 5px;
}

.SearchBar_form .form-group input {
    background: rgba(255, 0, 0, 0.05);
    max-width: 100px;
    margin-left: 10px;
}





