.SearchBar_form {
    width: 100%;
    margin: 10px auto;
}

.SearchBar_form .search-input {
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
    display: block;
}

.SearchBar_form .nutrient-filter {
    margin-top: 30px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.SearchBar_form .form-group {
    width: 260px;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.SearchBar_form label {
    margin: 0;
    width: 120px;
}

.SearchBar_form input {
    border-radius: 5px;
}

.SearchBar_form .form-group .input-group {
    width: 120px;
    margin-left: 10px;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.SearchBar_form .form-group input {
    background: rgba(255, 0, 0, 0.05);
    width: 50px;
}





